*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

header{
    width: 30px;
    background-color: black; 
}
.header-main{
    display: flex;
    height: calc(100vh - 70px);
}
.container-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 70px);
    color: white;
    width: 30px;
    overflow: scroll;
}
.loghi-sup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loghi-sup i{
    padding-top: 10px;
}
.loghi-inf{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loghi-inf i{
    padding-bottom: 10px;
}





/* Main */

.box-upgrade{
    height: 70px;
    background-color: #080b12;
    width: calc(100% - 30px);
    position: fixed;
}
.container-button{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    height: 100%;
    align-items: center;
}
.container-button button{
    height: 33px;
    width: 170px;
    border-radius: 20px;
    background-color: #080b12;
    color: white;
    border: 2px solid white;
}
.box-musica{
    padding-top: 70px;
    height: calc(100vh - 70px);
    width: 450px;
    background-color: #141922;
    overflow: scroll;
    width: 100%;
}
.link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.link a{
    font-size: 13px;
    width: 25%;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: gray;
}
.box-musica h2{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: white;
}
.flex-container-musica{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box-music-1{
    width: calc(100% / 2);
    height: 315px; 
}
.box-music-1 img{
    width: 90%;
}
.box-music-1 h3{
    text-align: center;
    font-size: initial;
    color: white;
    padding-top: 10px;
}
.box-music-1 h5{
    text-align: center;
    color: gray;
}
.box-musica h5{
    padding-left: 10px;
    color: gray;
    padding-bottom: 20px;
}
.box-music-2 img{
    height: 205px;
    border-radius: 110px;
}
.box-music-2 h3{
    text-align: center;
    font-size: initial;
    color: white;
    padding-top: 10px;
}






/* Footer */


footer{
    background-color: #282828;
    height: 70px;
    display: flex;
    width: 100%;
    position: fixed;
}
.box-footer{
    width: calc(100% / 3);
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box-footer img{
    height: 30px;
}
.box-footer h5{
    color: white;
}
.footer-s h6{
    color: gray;
}
.box-footer i{
    font-size: 15px;
    color: gray;
}
.box-footer-2{
    width: calc(100% / 3);
}
.box-footer-2-interno{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.barra-volume{
    width: 50%;
    height: 3px;
    background-color: grey;
    border-radius: 5px;
}
.barra-volume-min{
    background-color: white;
    width: 30%;
    border-radius: 5px;
    height: 3px;
}
.box-footer-3{
    width: calc(100% / 3);
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 15px;
}
.responsive{
    display: none;
}
.footer-responsive{
    display: none;
}













@media  screen and (min-width: 480px) and (max-width:767px) {


/* Header */

   header{
    width: 200px;
   }
   .container-1{
    width: 200px;
   }
   .box-upgrade{
    width: calc(100% - 200px);
   }
   .loghi-sup{
    align-items: baseline;
    padding-left: 10px;
   }
   .loghi-inf{
    align-items: baseline;
    padding-left: 10px;
   }
   .font-spotify{
    font-size: 35px;
   }

   .vertical-ali{
    vertical-align: super;
   }

   .responsive{
    display: inline-block;
   }

   .font{
    font-size: 13px;
   }

   .color{
    color: gray;
   }


   .button{
    margin-top: 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
   }

   .margin-playlist{
    margin-top: 10px;
   }

   .loghi-inf hr{
    width: 90%;
   }

  
/* Main */



.link a{
    width: calc(100% / 3);
}

.box-music-1{
    text-align: center;
    width: calc(100% / 2);
}

.box-music-1 img{
    width: 90%;
    height: auto;

}
    
}




@media screen and (min-width: 768px) and (max-width: 992px) {

/* Header */

    header{
        width: 200px;
       }
       .container-1{
        width: 200px;
       }
       .box-upgrade{
        width: calc(100% - 200px);
       }
       .loghi-sup{
        align-items: baseline;
        padding-left: 10px;
       }
       .loghi-inf{
        align-items: baseline;
        padding-left: 10px;
       }
       .font-spotify{
        font-size: 35px;
       }
    
       .vertical-ali{
        vertical-align: super;
       }
    
       .responsive{
        display: inline-block;
       }
    
       .font{
        font-size: 13px;
       }
    
       .color{
        color: gray;
       }
    
    
       .button{
        margin-top: 5px;
        width: 30px;
        height: 30px;
        font-size: 20px;
        border: none;
       }
    
       .margin-playlist{
        margin-top: 10px;
       }
    
       .loghi-inf hr{
        width: 90%;
       }



       /* Main */

       .link a{
        width: 20%;
       }


       .box-music-1{
        width: calc(100% / 4);
       }

       .flex-container-musica{
        text-align: center;
        justify-content: flex-start;
       }


       /* Footer */



       .footer-s h6{
        display: none;
       }

       .footer-responsive{
        display: inline-block;
        color: grey;
       }


       .footer-responsive-2{
        display: flex;
        width: 50px;
        justify-content: space-between;
       }


    
}



@media screen and (min-width: 992px) and (max-width: 1200px)  {

    /* Header */



    header{
        width: 200px;
       }
       .container-1{
        width: 200px;
       }
       .box-upgrade{
        width: calc(100% - 200px);
       }
       .loghi-sup{
        align-items: baseline;
        padding-left: 10px;
       }
       .loghi-inf{
        align-items: baseline;
        padding-left: 10px;
       }
       .font-spotify{
        font-size: 35px;
       }
    
       .vertical-ali{
        vertical-align: super;
       }
    
       .responsive{
        display: inline-block;
       }
    
       .font{
        font-size: 13px;
       }
    
       .color{
        color: gray;
       }
    
    
       .button{
        margin-top: 5px;
        width: 30px;
        height: 30px;
        font-size: 20px;
        border: none;
       }
    
       .margin-playlist{
        margin-top: 10px;
       }
    
       .loghi-inf hr{
        width: 90%;
       }



       /* Main */



       .link a{
        width: 11%;
       }


       .box-music-1{
        width: calc(100% / 6);
       }

       .flex-container-musica{
        text-align: center;
        justify-content: flex-start;
        height: 250px;
       }
}






/* Hover */


.container-button button:hover{
    width: 190px;
    height: 45px;
    border-radius: 30px;
    font-size: 15px;
}


.link a:hover{
    color: white;
}


.hover-header:hover{
    color: white;
}



.hover-footer:hover{
    color: white;
}


.hover-size-footer:hover{
    font-size: 20px;
}


.barra-volume:hover .barra-volume-min{
    background-color: greenyellow;
}


.box-music-1:hover img{
    opacity: 0.4;
}